

#authSection {
    background-color: grey;
    border-radius: 1rem;

    margin: auto;
    padding: 1rem;

    width: 40%;
    margin-top: 10%;
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#authSection input {
    padding: 0.8rem;
    width: 70%;
    border-radius: 1rem;
    border: none;

    margin-top: 2%;
}

#authSection button {
    width: 75%;
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0.2rem;
    border-radius: 1rem;
    border: none;
    margin-top: 2%;
}

#preAuthSection {
    display: flex;
    justify-content: center;
    gap: 15%
}

#authSection hr {
       
    height: 0.2rem;
    background-color: black;
    border: none;
    width: 100%;
    border-radius: 1rem;

    margin-top: 1%;
    margin-bottom: 1%;
}

#preAuthSection a {
    background-color: rgb(182, 182, 182);

    padding: 1rem;
    border-radius: 1rem;
    font-size: 1.2rem;

    width: 40%;
}