
#header-nav {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 0.75rem 1rem;
}

.p-title {
  margin: 0;
  font-weight: 700;
}

.p-title a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 0.9rem;
  border-radius: 0.75rem;
  background: rgb(182, 182, 182);
  display: inline-block;
}

.p-title a:hover {
  background: rgba(148, 136, 136, 0.301);
  color: white;
}