

#page-header {
    background-color: grey;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#page-header > input {
    flex-basis: 30%;
    margin-left: 10%; /* Offset searchbar */
    border-radius: 1rem;
    border: none;
    padding: 1rem;
}

#header-auth {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-basis: 10%;
    gap: 15%;
    border: 1px solid black;
}


#header-nav {
    padding: 1rem;
    
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    gap: 5%;
}

#header-nav a {
    font-size: 1.5rem;
    color: black;
}