/* Base Styles */

* {
    margin: 0;
    padding: none;
}

a {
    text-decoration: none;
}

a, p {
    font-size: 1rem;
}

.p-title {
    font-size: 1.5rem;
    color: black;
}

.p-title.selected {
    font-weight: bold;
    text-decoration: underline;
}

/* Header Styles */

header {
    padding: 0.5rem;
}

header p, a {
    color: white;
    text-decoration: none;
}


