

#selectSection {
    background-color: grey;
    border-radius: 1rem;

    margin: auto;
    padding: 1rem;

    width: 40%;
    margin-top: 10%;
    height: 35vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#selectSection input {
    padding: 0.8rem;
    width: 70%;
    border-radius: 1rem;
    border: none;

    margin-top: 2%;
}

#selectSection button {
    width: 75%;
    color: black;
    font-weight: bold;
    font-size: 1.8rem;
    padding: 0.2rem;
    border-radius: 1rem;
    border: none;
    margin-top: 2%;
}